.DS_Store
.DS_Store?
.ipynb_checkpoints
**/*.exe
**/*.iml
.idea
idx*/**
__pycache__
*.pyc
tuts/data/cifar-10-batches-py
tuts/data/cifar-10-python.tar.gz
hw1/data/train/events.csv
tuts/data/MNIST
week1/data
hw3/HW3_CNN-lib
hw3/HW3_RNN-lib
hw3/HW3_Seq2Seq-lib
hw3/HW3_CNN.z01
hw3/HW3_CNN.z02
hw3/HW3_CNN.z03
hw3/HW3_CNN.zip
tuts/data/hymenoptera_data
tuts/data/hymenoptera_data.zip
hw4/HW4_RETAIN-lib
hw4/data.zip